.form {
  width: auto;
  height: auto;
  background: #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form form input {
  width: 300px;
  margin: 10px 0px;
  padding: 12px;
}

button {
  width: 100px;
  margin: 10px 0px;
  padding: 12px;
  background-color: rgb(50, 203, 50);
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.register {
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
}
.register a {
  color: rgb(50, 203, 50);
  text-decoration: none;
}
